body {
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    
}

.qr-code {
    margin-top: 20px;
    width: 288px;
    height: 288px;
    border-radius: 15px;
}

.attribution {
    position: absolute;
    bottom: 10px;
    margin-top: 60px;
    font-size: 12px;
}